.menu {
    /* display:grid;
    grid-auto-flow: row; */
    color: white;
    list-style-type: none;
    width: 15%;
    gap: 30px;
}

.menu-item {
    display: flex;
    gap: 3px;
    align-items: flex-start;
    flex-shrink: 0;
}